---
---

<footer class='bg-black text-white p-6'>
  <h2 class='hidden'>Footer</h2>
  <p class='outfit'>
    Blog made with <a
      href='https://astro.build/'
      target='_blank'
      class='text-blue'>Astro</a
    > and <a
    href='https://www.elian.codes/'
    target='_blank'
    class='text-blue'>Brutal Theme</a
  >
  </p>
</footer>
