<section class="giscus p-6 mt-6"></section>

<script
    src="https://giscus.app/client.js"
    data-repo="joseangel1994/blog"
    data-repo-id="R_kgDOK2ByBw"
    data-category="Blog Post Commnents"
    data-category-id="DIC_kwDOK2ByB84CcMIi"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
></script>
